.row{
    min-height:176px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-bottom:1px solid #dfdfdf;
}
.row__text{
    font-family:"Fjalla One";
    text-transform: uppercase;
}
.row__text-title{
    font-size:30px;
    color:#5c5c5c;
}
.row__text-content{
    line-height: 1.6;
    font-size:18px;
    color:#a5a5a5;
}
.row__button{
    width: 230px;
    height: 54px;
    font-size:20px;
    margin-bottom:4px;
    margin-right:1px;
    text-align: center;
}
.row__button-image{
    margin-bottom:5px;
    margin-right:6px;
}